.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.form h2 {
  color: #ffffff;
  font-size: 26px;
  text-align: center;
  margin-bottom: 10px;
}

.form input {
  background-color: #121212;
  border: 1px solid #333;
  color: #fff;
  padding: 0px;
  border-radius: 6px;
  width: 100%;
  font-size: 14px;
  padding-left: 6px;
  padding-right: 6px;
  outline: none;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.form input:focus {
  border-color: #e50914;
}

.form input::placeholder {
  color: #888;
}

.btn.primary {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.btn.primary:hover {
  background-color: #b0060f;
}

.btn.disabled {
  background-color: transparent;
  color: #e50914;
  border: 1px solid #e50914;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn.disabled:hover {
  background-color: #e50914;
  color: white;
}

p {
  color: #ccc;
  text-align: center;
  font-size: 14px;
}
