:root {
    /* PALETA PRIMÁRIA */
    --color-primary: #e08f15;
    --color-primary-focus:  #ffdc42;
    --color-primary-negative: #59323f;

    /* PALETA ESCALA DE CINZA */
    --grey0: #F8F9FA;
    --grey1: #868E96; 
    --grey2: #343B41;
    --grey3: #212529;
    --grey4: #121214;

    /* FEEDBACK PALETTE */
    --sucess: #3FE864;
    --negative: #E83F5B;

}

/* div {
    display: flex;
    gap: 20px;
    margin-top: 20px;
} */

/* * {
    background-color: var(--grey4);
} */

/* !! */

* {
    color: var(--grey0);
}