.movieSection {
  padding: 2rem 3rem;
  background-color: #121212;
  color: #fff;
}

.movieSection h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  border-bottom: 2px solid #ff4500;
  display: inline-block;
  padding-bottom: 0.3rem;
}

.moviesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1.5rem;
}
